#para1_button
{
	margin-top: 20px; 
    margin-bottom: 20px;}
    
    input {

margin: 10px;
width: 10%;
height: 10%;

    }

#showParagraph1 {

font-size: 20px;
font-weight: bolder;

    }

    
    #showParagraph2 {

        font-size: 20px;
        font-weight: bolder;
        
            }


    

